body {
    background-color: red;
    color: aliceblue;
}

header{
    background-color: blue;
    text-align: center;
    font-size: 32px;
    padding: 10px
    border-bottom: solid 2px black;
    
}
